$DarkShade100:#1F2041;
$DarkShade75:rgba(31, 32, 65, 0.75);;
$DarkShade50:rgba(31, 32, 65, 0.5);
$DarkShade25:rgba(31, 32, 65, 0.25);
$DarkShade5:rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;
$Dark25: rgba(31, 32, 65, 0.25);
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v21-latin-regular.eot'); 
    src: local(''),
         url('../fonts/Quicksand-v21-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Quicksand-v21-latin-regular.woff2') format('woff2'), 
         url('../fonts/Quicksand-v21-latin-regular.woff') format('woff'),
         url('../fonts/Quicksand-v21-latin-regular.ttf') format('truetype'),
         url('../fonts/Quicksand-v21-latin-regular.svg#Quicksand') format('svg'); 
  }
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quicksand-v21-latin-700.eot');
    src: local(''),
        url('../fonts/Quicksand-v21-latin-700.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Quicksand-v21-latin-700.woff2') format('woff2'),
        url('../fonts/Quicksand-v21-latin-700.woff') format('woff'), 
        url('../fonts/Quicksand-v21-latin-700.ttf') format('truetype'), 
        url('../fonts/Quicksand-v21-latin-700.svg#Quicksand') format('svg'); 
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-cyrillic-regular.eot'); 
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/Montserrat-v15-cyrillic-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Montserrat-v15-cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/Montserrat-v15-cyrillic-regular.woff') format('woff'),
         url('../fonts/Montserrat-v15-cyrillic-regular.ttf') format('truetype'), 
         url('../fonts/Montserrat-v15-cyrillic-regular.svg#Montserrat') format('svg'); 
  }
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
src: url('../fonts/montserrat-v15-cyrillic-700.eot');
src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/Montserrat-v15-cyrillic-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-v15-cyrillic-700.woff2') format('woff2'),
        url('../fonts/Montserrat-v15-cyrillic-700.woff') format('woff'), 
        url('../fonts/Montserrat-v15-cyrillic-700.ttf') format('truetype'), 
        url('../fonts/Montserrat-v15-cyrillic-700.svg#Montserrat') format('svg');
}
h1,h2,h3,h4,h5.h6{
    margin: 0;
    font-family: 'Quicksand';
    font-weight: 700;
    color: $DarkShade100;
}

h1{  
    font-size: 24px;
    line-height: 30px;
}

h2{
    font-size: 19px;
    line-height: 24px;
}

h3{
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
}
p{
    margin: 0;
}

body{
    font-family: 'Montserrat';
    color: $DarkShade75;
    font-size: 14px;
    line-height: 24px;
}