mixin color_elment(color, title, subtitle)
    .color_element.flex 
        .color_element-figure(class=color)
        .color_element-text
            .color_element-title=title
            .color_elemensubtitle=subtitle





        